################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamOne.API/.vs/TeamOne.API/FileContentIndex
/TeamOne.API/Src/BusinessLayer/TeamOne.Core/obj/Debug/net8.0/TeamOne.Core.AssemblyInfo.cs
/TeamOne.API/Src/BusinessLayer/TeamOne.Core/obj/Debug/net8.0/TeamOne.Core.AssemblyInfoInputs.cache
/TeamOne.API/Src/BusinessLayer/TeamOne.Core/obj/Debug/net8.0/TeamOne.Core.GeneratedMSBuildEditorConfig.editorconfig
/TeamOne.API/Src/API/TeamOne.API/obj/Debug/net8.0/TeamOne.API.AssemblyInfo.cs
/TeamOne.API/Src/API/TeamOne.API/obj/Debug/net8.0/TeamOne.API.GeneratedMSBuildEditorConfig.editorconfig
/TeamOne.API/Src/API/TeamOne.API/obj/Debug/net8.0/staticwebassets.removed.txt
/TeamOne.API/Src/API/TeamOne.API/obj/Debug/net8.0/TeamOne.API.AssemblyInfoInputs.cache
/TeamOne.API/Src/API/TeamOne.API/obj/Debug/net8.0/TeamOne.API.csproj.AssemblyReference.cache
